@{
    ViewBag.Title = "Inicio de sesión";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<div class="sidenav">
    <div class="login-main-text">
        <div class="RFIDCORE-logo">
            <div class="">
                <!--toggler-->
                <p data-toggle="collapse" href="#" data-target="" role="button">
                    <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                         width="36.000000pt" height="36.000000pt" viewBox="0 0 800.000000 800.000000"
                         preserveAspectRatio="xMidYMid meet" id="RFID_logo">

                        <g transform="translate(0.000000,800.000000) scale(0.100000,-0.100000)"
                           stroke="none">
                            <path fill="#cccccc" d="M1275 7509 c-87 -80 -266 -282 -366 -414 -450 -595 -745 -1408 -809
                                        -2230 -16 -209 10 -615 61 -940 143 -908 529 -1732 1053 -2244 l95 -93 39 33
                                        c104 90 492 454 492 462 0 5 -28 39 -61 75 -317 345 -589 805 -747 1263 -129
                                        374 -192 743 -192 1124 0 579 96 1016 330 1501 161 336 379 660 608 905 l71
                                        75 -264 264 -263 263 -47 -44z" />
                            <path fill="#cccccc" d="M6418 7202 l-266 -246 60 -65 c442 -481 760 -1112 887 -1761 70 -352
                                        80 -833 25 -1194 -98 -654 -427 -1331 -889 -1832 l-83 -91 264 -264 265 -264
                                        128 132 c142 146 245 270 358 431 404 577 676 1364 732 2127 27 353 -41 947
                                        -161 1419 -151 595 -439 1179 -776 1576 -70 82 -219 236 -252 260 l-26 18
                                        -266 -246z" />
                            <path fill="#cccccc" d="M2051 6421 c-442 -520 -681 -1194 -681 -1921 0 -580 239 -1230 656
                                        -1786 30 -39 59 -76 66 -81 10 -8 85 55 288 242 151 139 275 257 275 263 0 5
                                        -35 50 -77 98 -113 129 -180 231 -259 389 -109 221 -179 466 -210 735 -16 146
                                        -7 443 20 590 67 382 235 728 479 988 l59 63 -256 262 c-140 144 -258 263
                                        -261 265 -4 1 -48 -47 -99 -107z" />
                            <path fill="#cccccc" d="M5610 6154 l-280 -257 80 -84 c188 -198 342 -493 420 -803 55 -218
                                        64 -294 64 -555 0 -262 -10 -346 -64 -551 -30 -112 -95 -286 -145 -384 -72
                                        -142 -204 -329 -308 -437 l-40 -42 28 -33 c15 -18 131 -139 258 -268 l230
                                        -234 44 49 c321 360 544 796 653 1275 79 343 100 758 55 1055 -23 148 -83 381
                                        -139 540 -65 179 -236 521 -346 689 -99 151 -207 296 -221 296 -5 0 -135 -115
                                        -289 -256z" />
                            <path fill="#cccccc" d="M3976 5619 c-427 -62 -767 -394 -842 -821 -21 -118 -14 -300 15 -410
                                        130 -496 603 -816 1103 -746 422 60 753 367 844 783 27 126 23 323 -10 450
                                        -129 495 -610 817 -1110 744z" />
                            <path fill="#cccccc" d="M1980 1090 l0 -620 185 0 185 0 0 235 0 236 71 -3 70 -3 87 -220 c48
                                        -121 91 -226 95 -232 6 -10 57 -13 198 -13 104 0 189 4 189 8 0 4 -32 80 -71
                                        167 -39 88 -91 204 -114 257 l-43 96 63 41 c64 42 107 87 141 151 29 54 27
                                        225 -5 303 -31 79 -87 146 -152 182 l-54 30 -422 3 -423 3 0 -621z m657 353
                                        c41 -19 79 -89 69 -127 -9 -35 -44 -75 -87 -97 -34 -17 -56 -19 -157 -17
                                        l-117 3 -3 128 -3 127 132 0 c102 0 139 -4 166 -17z" />
                            <path fill="#cccccc" d="M3270 1080 l0 -630 180 0 180 0 2 242 3 243 208 3 207 2 0 130 0 130
                                        -212 2 -213 3 0 110 0 110 278 3 277 2 0 140 0 140 -455 0 -455 0 0 -630z" />
                            <path fill="#cccccc" d="M4310 1080 l0 -630 180 0 180 0 0 630 0 630 -180 0 -180 0 0 -630z" />
                            <path fill="#cccccc" d="M4920 1089 l0 -620 303 3 c300 3 303 4 376 30 113 42 200 95 266 162
                                        113 116 145 207 145 416 0 229 -48 370 -164 485 -33 34 -86 73 -116 88 -109
                                        53 -148 57 -492 57 l-318 0 0 -621z m584 327 c86 -36 130 -145 130 -326 1
                                        -125 -12 -169 -69 -245 -48 -62 -80 -75 -189 -75 l-96 0 0 330 0 330 95 0 c59
                                        0 108 -5 129 -14z" />
                        </g>

                    </svg>
                </p>
                <h2 class="pl-2 font-weight-bold RFIDCORE" style="font-size: 24px; margin: 0px;">SAFE CORE</h2>
            </div>
        </div>

        <br>
        <img src="~/Content/assets/AIEP_logo.png" width="400px" height="auto" />
    </div>
</div>

<div class="main">
    <div class="col-md-6 col-sm-12">

        <h2 id="PageTitle" style="margin-top: 5vh;">@ViewBag.Title</h2>
        <hr />

        <div id="login-Form">
            <form class="d-flex row container justify-content-center" role="form" action="@Url.Action("Index", "Home")">

                <div class="form-group">
                    <label class="form-label">Usuario</label>
                    <input text-center type="text" class="form-control" placeholder="Usuario">
                </div>

                <div class="form-group">
                    <label class="form-label">Contraseña</label>
                    <input text-center type="password" class="form-control" placeholder="Contraseña">
                </div>

                <div class="form-group">
                    <button type="submit" href="@Url.Action("Index", "Home")" class="btn btn-custom">Iniciar sesión</button>
                </div>

                @*<button type="submit" class="btn btn-secondary">Register</button>*@

            </form>
        </div>


    </div>
</div>

