@using SafeCore.BLL
@using Safe_Core.Controllers
@{
    ViewBag.Title = "Calculo de accidentabilidad";

    List<ReporteAccidente> accidentes = (List<ReporteAccidente>)ViewBag.Accidentes;
    List<Capacitaciones> capacitaciones = (List<Capacitaciones>)ViewBag.Capacitaciones;

    List<ReporteAccidente> Enero = (List<ReporteAccidente>)ViewBag.Enero;
    List<ReporteAccidente> Febrero = (List<ReporteAccidente>)ViewBag.Febrero;
    List<ReporteAccidente> Marzo = (List<ReporteAccidente>)ViewBag.Marzo;
    List<ReporteAccidente> Abril = (List<ReporteAccidente>)ViewBag.Abril;
    List<ReporteAccidente> Mayo = (List<ReporteAccidente>)ViewBag.Mayo;
    List<ReporteAccidente> Junio = (List<ReporteAccidente>)ViewBag.Junio;
    List<ReporteAccidente> Julio = (List<ReporteAccidente>)ViewBag.Julio;
    List<ReporteAccidente> Agosto = (List<ReporteAccidente>)ViewBag.Agosto;
    List<ReporteAccidente> Septiembre = (List<ReporteAccidente>)ViewBag.Septiembre;
    List<ReporteAccidente> Octubre = (List<ReporteAccidente>)ViewBag.Octubre;
    List<ReporteAccidente> Noviembre = (List<ReporteAccidente>)ViewBag.Noviembre;
    List<ReporteAccidente> Dicembre = (List<ReporteAccidente>)ViewBag.Diciembre;


    int Cant_Enero = Enero.Count();
    int Cant_Febrero = Febrero.Count();
    int Cant_Marzo = Marzo.Count();
    int Cant_Abril = Abril.Count();
    int Cant_Mayo = Mayo.Count();
    int Cant_Junio = Junio.Count();
    int Cant_Julio = Julio.Count();
    int Cant_Agosto = Agosto.Count();
    int Cant_Septiembre = Septiembre.Count();
    int Cant_Octubre = Octubre.Count();
    int Cant_Noviembre = Noviembre.Count();
    int Cant_Diciembre = Dicembre.Count();




}


<head>
    <script src="~/Scripts/Chart.js"></script>
    <script src="~/Scripts/Chart.bundle.js"></script>
</head>

<h2>Cálculo de accidentabilidad</h2>

@*<div class="container m-3">
        <form class="d-flex row container justify-content-center" asp-controller="Calculadora" asp-action="Calcular" style="padding-left: 8%; padding-right: 8%;" action="/my-handling-form-page" method="post">
            <ul class="row row-cols-1 row-cols-md-2 justify-content-center">
                <li class="col form-group">
                    <label for="number" class="form-label">Cantidad Reportes Global:</label>
                    <input type="number" id="number" class="form-control" name="user_calculoa" asp-for="Operador1">
                </li>
                <li class="col form-group">
                    <label for="number" class="form-label">Cantidad Accidentes Mensual:</label>
                    <input type="number" asp-for="Operador2" id="number" class="form-control" name="user_calculoa">
                </li>
            </ul>

            <button class="btn btn-custom col-auto" type="submit" value="Calcular">Realizar Calculo de Accidentabilidad</button>
        </form>
        <div>
            <a href="@Url.Action("Calculator", "Calculadora")">ir al campo de prueba</a>
            <canvas id="myPieChart" width="100" height="50"></canvas>
        </div>
    </div>*@















<div class="col-12" id="DashboardContainer">





    <div class=" d-flex flex-wrap">

        <!-- GRÁFICO DE BARRAS -->
        <div class="row">
            <div class="ChartDiv" id="barchart_values" style="width: 1280px; height: 780px;">
                <canvas id="barChart" width="1280px" height="780px"></canvas>
            </div>
        </div>








    </div>






    @*<div class="row col-md-12">
            <div class="col-md-9">
                <canvas id="myChart" width="200" height="200"></canvas>
            </div>
        </div>*@


<script>

    // GRÁFICO DE BARRAS
    const ctx = document.getElementById('barChart').getContext('2d');
    const barChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
            datasets: [{
                label: 'Recuento de accidentes',
                data: [@Cant_Enero, @Cant_Marzo, @Cant_Abril, @Cant_Mayo, @Cant_Junio, @Cant_Julio, @Cant_Agosto, @Cant_Septiembre, @Cant_Octubre, @Cant_Noviembre, @Cant_Diciembre],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 2,
                hoverBorderWidth: 4

            }]
        },
        options: {
            legend: {
                labels: {
                    fontColor: "#cccccc",
                    fontSize: 16
                }
            },
            scales: {
                yAxes: [{
                    ticks: {
                        fontColor: "#cccccc",
                        fontSize: 10,
                        stepSize: 2,
                        beginAtZero: true
                    },
                    gridLines: {
                        display: true,
                        color: "#CCCCCC60"
                    },
                }],
                xAxes: [{
                    ticks: {
                        fontColor: "#cccccc",
                        fontSize: 10,
                        stepSize: 1,
                        beginAtZero: true
                    },
                    gridLines: {
                        display: true,
                        color: "#CCCCCC10"
                    },
                }]
            }
        }
    });



/* ------------------------------------------------------------------------- */


    // GRÁFICO RADAR
    const radar_ctx = document.getElementById('radarChart').getContext('2d');
    const radarChart = new Chart(radar_ctx, {
        type: 'radar',
        data: {
            labels: ['Polera', 'Pantalon', 'Gorro', 'Zapato', 'Short', 'Calcetin'],
            datasets: [{
                label: 'Stock bodega 1',
                data: [12, 19, 12, 4, 18, 15],
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                borderColor: 'rgba(255, 99, 132, 1)',
                borderWidth: 2,
                hoverBorderWidth: 4,

                pointHighlightFill: 'blue'

            },
            {
                label: 'Stock bodega 2',
                data: [9, 7, 3, 5, 6, 3],
                backgroundColor: 'rgba(255, 159, 64, 0.2)',
                borderColor: 'rgba(255, 159, 64, 1)',
                borderWidth: 2,
                hoverBorderWidth: 4
            }],

        },
        options: {
            scale: {
                gridLines: {
                    color: '#cccccc1c'
                },
                angleLines: {
                    color: '#cccccc'
                }
            },
            legend: {
                labels: {
                    fontColor: "#cccccc",
                    fontSize: 16
                }
            }
        }

    });

</script>







