
@{
    ViewBag.Title = "Calculo de accidentabilidad";
}

<h2>Cálculo de accidentabilidad</h2>
<div class="container m-3">
    <form class="d-flex row container justify-content-center" style="padding-left: 8%; padding-right: 8%;" action="/my-handling-form-page" method="post">
        <ul class="row row-cols-1 row-cols-md-2 justify-content-center">
            <li class="col form-group">
                <label for="number" class="form-label">Cantidad Reportes Global:</label>
                <input type="number" id="number" class="form-control" name="user_calculoa">
            </li>
            <li class="col form-group">
                <label for="number" class="form-label">Cantidad Accidentes Mensual:</label>
                <input type="number" id="number" class="form-control" name="user_calculoa">
            </li>
        </ul>

        <button class="btn btn-custom col-auto">Realizar Calculo de Accidentabilidad</button>
    </form>
    <div>
        <canvas id="myPieChart" width="100" height="50"></canvas>
    </div>
</div>






