@using SafeCore.BLL
@{
    ViewBag.Title = "Crear Capacitacion";
}

<h2>Crear Capacitacion</h2>
<div class="container m-3">
    <form class="d-flex row container justify-content-center" style="padding-left: 8%; padding-right: 8%;" action="@Url.Action("Index","Home")" method="post">

        <ul class="row row-cols-1 row-cols-md-2 justify-content-center">
            <li class="col form-group">
                <label for="number" class="form-label">Rut cliente:</label>
                <input type="number" id="number" class="form-control" name="user_rut" maxlength="9" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
            </li>





            <li class="col form-group">
                <label for="text" class="form-label">Rubro:</label>
                <input type="text" id="rubro" class="form-control" name="user_work">
            </li>
            <li class="col form-group">
                <label for="date" class="form-label">Fecha de visita:</label>
                <input type="date" name="date_user" class="form-control">
            </li>


            <div class="d-flex col-12">
            <li class="col">
                <label for="text" id="Asistente" class="form-label">Profesional :</label>
                <input class="form-control" name="text" type="text"></input>
            </li>
</div>
        </ul>
<button class="btn btn-custom col-auto" type="submit">Crear Capacitacion</button>
    </form>
</div>

