
@{
<<<<<<< HEAD
    ViewBag.Title = "HistorialAtrasos";
}

<h2>HistorialAtrasos</h2>
=======
    ViewBag.Title = "Historial de atrasos";
}

<h2>Historial de atrasos</h2>
>>>>>>> 7eb3a2c6217a65b039b41f49c406d5036400fc25

