@using SafeCore.BLL
@{
    ViewBag.Title = "PagosClientes";
}
@{ List<Pagos> pago = (List<Pagos>)ViewBag.PagosClientes; }
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>Revisar actividad de mejora</title>
</head>

<body>
    <h1>Pagos clientes</h1>
    <main class="container">
        <table class="table" bgcolor="#FFFFFF">
            <thead class="thead-dark">
                <tr>
                    <th>Id Pago</th>
                    <th>Rut Cliente</th>
                    <th>Fecha</th>
                    <th>Monto</th>


                </tr>
            </thead>
            @foreach (var pag in pago)
            {
                <tr>
                    <td>@pag.ID_PAGO</td>
                    <td>@pag.CLIENTES_RUT_CLIENT</td>
                    <td>@pag.FECHA</td>
                    <td>@pag.MONTO</td>
                    
                </tr>
            }
        </table>
        <button class="btn btn-custom col-auto" type="submit">Exportar a excel</button>
    </main>
    <script type="text/javascript" src="jquery-3.2.1.slim.min.js"></script>
    <script type="text/javascript" src=""></script>
    <script type="text/javascript" src="bootstrap.min.js"></script>
</body>
</html>