
@{
    ViewBag.Title = "Profesionales";
}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>Revisar actividad de mejora</title>
</head>

<body>
    <h1>Profesionales</h1>
    <main class="container">



        <table class="table" bgcolor="#FFFFFF">
            <thead class="thead-dark">
                <tr>
                    <th>Rut</th>
                    <th>Estado contrato</th>
                    <th>Nombre</th>
                    <th>Genero</th>
                    <th>Direccion</th>
                    <th>Telefono</th>
                    <th>Correo</th>
                </tr>

            </thead>
            <tbody>
                <tr>
                    <td>12343125-3</td>
                    <td>Activo</td>
                    <td>Maximiliano Santander Messi</td>
                    <td>Masculino</td>
                    <td>Avenida Cristiano Ronaldo</td>
                    <td>949212541</td>
                    <td>cristianronald@gmail.com</td>
                </tr>
                <tr>
                    <td>11231236-2</td>
                    <td>Activo</td>
                    <td>Sebastian Rocky Álvarez</td>
                    <td>Masculino</td>
                    <td>Avenida Rick</td>
                    <td>962721314</td>
                    <td>elricky@gmail.com</td>
                </tr>
                <tr>
                    <td>13232127-1</td>
                    <td>finalizado</td>
                    <td>Leo Díaz Castro</td>
                    <td>Masculino</td>
                    <td>Avenida Morty</td>
                    <td>932483265</td>
                    <td>mortytimes@gmail.com</td>
                </tr>

                </tbody>

            </table>



        </main>
        <script type="text/javascript" src="jquery-3.2.1.slim.min.js"></script>
        <script type="text/javascript" src=""></script>
        <script type="text/javascript" src="bootstrap.min.js"></script>
    </body>
    </html>
