@using SafeCore.BLL

@{
    ViewBag.Title = "Actividades";
}

@{ List<VisitasTerreno> Visitas = (List<VisitasTerreno>)ViewBag.Actividades; }

<h2>Reporte cliente</h2>



    <table class="table" bgcolor="#FFFFFF">
        <thead class="thead-dark">
            <tr>
                <th>ID visitat</th>
                <th>Fecha Visita</th>
                <th>Rut del profesional</th>
                <th>rut del cliente</th>
            </tr>

        </thead>




        
    </table>