
@{
    ViewBag.Title = "Report Client";
}

<h2>Report Client</h2>
<div class="container m-3">
    <form class="d-flex row container justify-content-center" style="padding-left: 8%; padding-right: 8%;" action="/my-handling-form-page" method="post">

        <ul class="row row-cols-1 row-cols-md-2 justify-content-center">
            <li class="col">
                <label for="number" class="form-label">Rut cliente:</label>
                <input type="number" id="number" class="form-control" name="user_rut">
            </li>
            <li class="col">
                <label for="name" class="form-label">Nombre:</label>
                <input type="text" id="name" class="form-control" name="user_name">
            </li>
            <li class="col">
                <label for="lastname" class="form-label">Apellido:</label>
                <input type="text" id="lastname" class="form-control" name="user_lastname">
            </li>
            <li class="col">
                <label for="address" class="form-label">Direccion:</label>
                <input type="text" id="address" class="form-control" name="user_address">
            </li>
            <li class="col">
                <label for="phone" class="form-label">Telefono:</label>
                <input type="number" id="number" class="form-control" name="user_phone">
            </li>
            <li class="col">
                <label for="mail" class="form-label">Email:</label>
                <input type="email" id="mail" class="form-control" name="user_mail">
            </li>
            <li class="col">
                <label for="text" class="form-label">Rubro:</label>
                <input type="text" id="rubro" class="form-control" name="user_work">
            </li>
            <li class="col">
                <label for="date" class="form-label">Fecha Accidente:</label>
                <input type="date" name="date_user" class="form-control">
            </li>
            <div class="d-flex col-12">
                <li class="col">
                    <label for="msg" class="form-label">Reporte:</label>
                    <textarea class="form-control" name="msg" type="text" placeholder="Escriba algo"></textarea>
                </li>
            </div>
        </ul>
        <button class="btn btn-custom col-auto" type="submit">Envíe su mensaje</button>
    </form>
</div>
