@using SafeCore.BLL

@{
    ViewBag.Title = "ReporteCliente";
}

@{ List<ReporteCliente> report = (List<ReporteCliente>)ViewBag.ReporteCliente; }

<h2>Reporte cliente</h2>



    <table class="table" bgcolor="#FFFFFF">
        <thead class="thead-dark">
            <tr>
                <th>ID Reporte</th>
                <th>Rut del cliente</th>
                <th>Fecha</th>
                <th>Descripcion</th>
            </tr>

        </thead>


        @foreach (var reportc in report)
                {
                    <tr>
                        <td>@reportc.ID_REPORTC</td>
                        <td>@reportc.CLIENTES_RUT_CLIENT</td>
                        <td>@reportc.FECHA</td>
                        <td>@reportc.DESCRIPCION</td>
                    </tr>
                }

        
    </table>