
@{

    ViewBag.Title = "Crear checklist";
}

<h2>Crear checklist</h2>
<div class="container m-3">
    <form action="">
        <div>
            <label for="crearcheck1">Escriba la tarea del checklist </label>
            <input type="text" id="creacionchecks1" class="form-control"name="crearcheck1" />
        </div>
        <div>
            <label for="crearcheck2">Escriba la tarea del checklist </label>
            <input type="text" id="creacionchecks2" class="form-control" name="crearcheck2"/>
        </div>
        <div>
            <label for="crearcheck3">Escriba la tarea del checklist </label>
            <input type="text" id="creacionchecks3" class="form-control" name="crearcheck3" />
        </div>
        <div>
            <label for="crearcheck4">Escriba la tarea del checklist </label>
            <input type="text" id="creacionchecks4" class="form-control" name="crearcheck4" />
        </div>
        <div>
            <button class="btn btn-custom col-auto" type="submit" id="buttoncheckscreados">finalizar creacion de la checklist</button>
        </div>
    </form>
 
</div>
