
@{
<<<<<<< HEAD
    ViewBag.Title = "Responder";
}

<h2>Responder</h2>
=======
    ViewBag.Title = "Responder Checklist";
}

<h2>Responder Checklist</h2>
>>>>>>> 7eb3a2c6217a65b039b41f49c406d5036400fc25

