
@{


    ViewBag.Title = "Revisar actividad de mejora";

}


<h2>Revisar actividad de mejora</h2>
<div class="container m-3">
    <form class="d-flex row container justify-content-center" style="padding-left: 8%; padding-right: 8%;" action="/my-handling-form-page" method="post">

        <ul class="row row-cols-1 row-cols-md-2 justify-content-center">
            <li>
                <table class="table" style="border:1px solid black; margin:auto;  "  bgcolor= "#FFFFFF">
                    <tr>
                        <th>N° de visita</th>
                        <th>Nombre Empresa</th>
                        <th>Nombre Profesional</th>
                        <th>Fecha Visita</th>
                        <th>Estado de chequeo</th>
                        <th>Recomendacion</th>
                    </tr>
                    <tr>
                        <td>767564</td>
                        <td>nike</td>
                        <td>jordan</td>
                        <td>07/12/1966</td>
                        <td>aprobado</td>
                        <td>mantener a una buena temperatura </td>
                    </tr>
                </table>
            </li>
        </ul>
       
    </form>
</div>

