
@{


    ViewBag.Title = "Revisar actividad de mejora";

}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>Revisar actividad de mejora</title>
</head>

<body>
    <h1>Revisar actividad de mejora</h1>
    <main class="container">
        

            
                    <table class="table" bgcolor= "#FFFFFF">
                        <thead class="thead-dark">
                            <tr>
                                <th>N° de visita</th>
                                <th>Nombre Empresa</th>
                                <th>Nombre Profesional</th>
                                <th>Fecha Visita</th>
                                <th>Estado de chequeo</th>
                                <th>Recomendacion</th>
                            </tr>

                        </thead>
                        <tbody>
                            <tr>
                                <td>12343</td>
                                <td>Nike</td>
                                <td>Jordan</td>
                                <td>06/12/1969</td>
                                <td>Aprobado</td>
                                <td>Mantener frio la zona</td>
                            </tr>
                            <tr>
                                <td>1123123</td>
                                <td>Nike</td>
                                <td>felo</td>
                                <td>06/12/1979</td>
                                <td>Aprobado</td>
                                <td>Mantener hot</td>
                            </tr>
                            <tr>
                                <td>132324</td>
                                <td>Nike</td>
                                <td>eladio</td>
                                <td>06/12/1989</td>
                                <td>Aprobado</td>
                                <td>Mantener funcionando 24/7</td>
                            </tr>

                        </tbody>

                    </table>
                

        
    </main>
    <script type="text/javascript" src="js/jquery-3.2.1.slim.min.js"></script>
    <script type="text/javascript" src="js/popper.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
</body>
</html>