<!DOCTYPE html>
<html lang="es">
<head>
    @*<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SafeCore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/SafeCore.styles.css" asp-append-version="true" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />*@

    @*<link rel="stylesheet" href="~/Content/Account.css" />*@
</head>

<body>

    <link rel="stylesheet" href="~/Content/Account.css">
    <link rel="stylesheet" href="~/Content/Site.css">
    <!------ Include the above in your HEAD tag ---------->



    @*<div class="sidenav">
        <div class="login-main-text">
            <h2>SafeCore<br> Login Page</h2>
            <p>Login or register from here to access.</p>
        </div>
    </div>*@
    <div class="main">
        <div class="col-md-6 col-sm-12">
            <div class="login-form">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>